<h1>Login</h1>

<form action = "/login" method = "POST">
    <div>
            <label>Enter Username</label>
    <input type = "text" placeholder="Enter username" name = "username">
    <label>Enter Password</label>
    <input type = "password" placeholder="Enter pass" name = "password">
    </div>

    <div>
        <button>Login</button>
         </div>
         <div>
               <button>Cancel</button>
         </div>
      
   
    
    
</form>

<li>
    
    <a href = "/register">Sign up</a>
     <a href = "/login">Login</a>
         <a href = "/logout">Log out</a>
</li>